/* exhibition grid scroll bar */
.exhibition-grid {
  height: 500px;
  padding: 20px;
  overflow-y: scroll;
}

/* homepage grid - map & exhibition & filter menu grid */
.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
  padding: 15px;

}

.filter-container {
  grid-column: 2 / span 3;
  grid-row: 3;
  background-color: rgb(235, 235, 235);
}

.map-container {
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  /* border-style: solid; */
}

.exhibition-container {
  grid-column: 2 / span 3;
  grid-row: 4 / span 2;
  /* border-style: solid; */
}

.calendar-container {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  align-items: l
}

.user-events-container{
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

/* exhibition grid & single exhibit */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* change cursor when on the exhibit cards*/
.pointer {
  cursor: pointer;
}

/* image overlay on exhibit cards*/
.container {
    position: relative;
    /* width: 50%; */
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(254,255,250);
  color: black;
  padding: 10px 10px;
}

/* styling for the pop up menu*/
.exhibit-details {
  text-align: left;
  background-color: rgb(254,255,250);
}

.event-date {
  font-size: 25px;
}

.event-title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.event-venue {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: rgb(103, 101, 98);
}

.event-description {
  height: 150px;
  padding: 20px;
  overflow-y: scroll;
}

.app-title{
  font-family: 'Lato', sans-serif;
  font-size: 85px;
}


/* select {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
} */

.select-label {
  color: white;
}




















/* React package css */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
