/* exhibition grid scroll bar */
.exhibition-grid {
  height: 500px;
  padding: 20px;
  overflow-y: scroll;
}

/* homepage grid - map & exhibition grid */
.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;

}

.map-container {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  /* border-style: solid; */
}

.exhibition-container {
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
  /* border-style: solid; */
}


/* exhibition grid & single exhibit */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


















/* React package css */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
